.nav {
    padding: 0.6em;
    font-size: 0.8em;
    color: white;
    text-align: center;
    background: #ffffff;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;

    .to-home {
    }
}