.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    line-height: 1.5em;
    color: gray;
    padding: 1em;
    border-radius: 16px;
    background: ghostwhite;

    border: 1px solid rgb(212, 212, 212);

    h2 {
        display: inline-block;
        font-size: 1.1em;
    }

    .price {
        color: rgb(76, 175, 200);
    }
    img {
        width: 20%;
    }

    @media(min-width: 1365px) {
        width: 80%;
        font-size: 1.2em;

        img {
            max-height: 20vh;

        }
        // border: 1px solid black;
    }
}