$primaryBackground: #F5F7F8;
$headingFont: 'Source Sans Pro';
$primaryFont: 'Source Sans Pro';
// $headingColor: rgb(177, 93, 189);
$headingColor: black;
$borderColor: 1px solid rgb(233, 233, 233);

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primaryBackground;
    font-family: $primaryFont;   
    font-weight: 400;
    color: rgb(134, 134, 134); 

    h1, h2 {
        font-family: $headingFont;
        color: $headingColor;
        font-weight: 500;
    }

    h1 {
        font-size: 2.2em;
        @media(min-width: 1365px) {
            font-size: 2.4em;
        }
    }
    h2 {
        font-size: 1.2em;
        @media(min-width: 1365px) {
            font-size: 1.4em;
        }
    }

    a {
        text-decoration: none;
        color: $headingColor;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
        
        // margin: 1em;
        .illustration {
            width: 100%;
        }

        @media(min-width: 1365px) {
            
            flex-direction: row;
            justify-content: space-between;
            margin: 2em 13em;
            
            .left {
                margin-top: 2em;
                width: 40%;
            }

            .illustration {
                width: 50%;
            }
        }
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
}
